#profile {
    grid-area: profile;
    background-image: url('../assets/Background_Intro.png');
    background-size: cover;
    min-height: 750px;

    div:nth-child(1) {

        h1 {
            padding-block: 8px 20px;
        }

        margin-inline: auto;
        text-align: center;

    }

    .links {


        height: 60px;
        align-items: center;
        justify-content: space-between;




        .card_link {
            width: 114px;
            height: 45px;
            background-color: var(--base-gray-400);
            border-radius: 40px;
            align-items: center;
            justify-content: center;


        }

    }



    .profile_img {

        &>img {
            width: 100%;
            height: 97%;
            object-fit: cover;
            border-radius: 50px;
        }

        justify-content:center;
        align-items: center;
        border-radius:60px;
        width:112px;
        height:112px;
        border:5px solid var(--principal-red);
        margin-block: 56px;
    }

}
#projects {
    grid-area: projects;
    padding: 72px 120px 144px 120px;
    background-color: var(--base-gray-500);

    &>div {
        grid-template-areas: "A A A"
            "B B B";
        gap: 24px;
        justify-content: center;
        align-items: center;


    }

    .card-projects {
        padding: 12px;
        background-color: var(--base-gray-400);
        width: 330px;
        height: 280px;
        border-radius: 12px;
        gap: 20px;

        h3 {
            margin-bottom: 8px;
        }

        &>div {
            img {
                width: 306px;
                height: 156px;
                border-radius: 8px;
            }
        }


    }
}

#services {
    grid-area: services;
    justify-content: center;

    padding: 88px 120px 120px 120px;

    &>div {
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    .card-services {

        padding: 20px;
        width: 280px;
        height: 155px;
        border: 2px solid var(--base-gray-500);
        border-radius: 12px;
        gap: 20px;


    }
}

#contact {
    padding:128px 120px 200px 120px;
    grid-area: contact;
    background-image: url('../assets/Background_Intro.png');
    background-size: cover;
    min-height: 750px;
    .card-contact{
        margin: 0 auto;
        border-radius:8px;
        padding-inline:20px;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        height: 68px;
        background-color: var(--base-gray-400);

    }
}