#profile {
    grid-area: profile;
    background-image: url('../assets/Background_Intro.png');
    background-size: cover;
    height: 750px;

    .links {

        
        height: 60px;
        align-items: center;
        justify-content: space-between;

        .card_link {
            width: 114px;
            height: 40px;
            background-color: var(--base-gray-400);
            border-radius: 20px;
            padding: 4px 16px;

        }
    }

    div:nth-child(1) {

        h1 {
            padding-block: 8px 20px;
        }

        margin-inline: auto;
        text-align: center;

    }

    .profile_img {

        &>img {
            width: 100%;
            height: 97%;
            object-fit: cover;
            border-radius: 50px;
        }

        justify-content:center;
        align-items: center;
        border-radius:60px;
        width:112px;
        height:112px;
        border:5px solid var(--principal-red);
        margin-block: 56px;
    }

}




#projects {
    grid-area: projects;
}

#services {
    grid-area: services;
}

#contact {
    grid-area: contact;
}