#profile {
   grid-area:profile;
   background-image: url('../assets/Background_Intro.png');
   background-size:contain;
   background-repeat: no-repeat;
   height: 750px;
}
#profile div:nth-child(1){
   
    h1{
        padding-block:8px 20px;
    }
    margin-inline: auto;
    text-align: center;
    align-items: center;
}


#profile .profile_img{
    & >img{
        width:100%;
        height:97%;
        object-fit: cover;
        border-radius:10px;
    }
    justify-content:center;
    align-items: center;
    border-radius:60px;
    width:112px;
    height:112px;
    border:5px solid var(--principal-red);
     margin-block: 0 56px;
}




#projects{
    grid-area:projects;
}

#services{
    grid-area:services;
}
#contact{
    grid-area:contact;
}