.container{
    max-width:1360px;
    margin-inline: auto;
    /* padding-inline: 32px; */
}
.grid{
    display: grid;
}
.grid-flow-col{
    grid-auto-flow: column;
}

.text-sm{
    color:var(--base-gray-300);
    font:var(--text-sm);
}
.text-md{
    color:var(--base-gray-200);
    font:var(--text-md);
}
.title-md{
    color: var(--base-gray-100);
    font:var(--title-md);
}
