.container{
    max-width:70%;
    margin-inline: auto;
    
}
.grid{
    display: grid;
}
.grid-flow-col{
    grid-auto-flow: column;
}
.flex{
    display: flex;
    align-items: center;
    justify-content:center;
}
.gap-8{
 gap:8px;
}
.text-sm{
    color:var(--base-gray-300);
    font:var(--text-sm);
}
.text-md{
    color:var(--base-gray-200);
    font:var(--text-md);
}
.title-md{
    color: var(--base-gray-100);
    font:var(--title-md);
}
.red-main{
    color:var(--principal-red)
}
.purple-main{
    color: var(--principal-purple);
}